*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #f5f9fc;
}

.game-area{
    width: 800px;
    height: 800px;
    margin: auto;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    position: relative;
}

.green{
    background-color: #58b4ae;
}

.red{
    background-color: #f40552;
}

.blue{
    background-color: #035aa6;
}

.yellow{
    background-color: #ffe277;
}

.holding-areas{
    width: 250px;
}

.holding-areas__top-left{
    position: absolute;
    bottom: 550px;
    top: 0;
    background-color: #58b4ae;
   
}

.paths-horizontal__top-left{
    position: absolute;
    width: 300px;
    height: 60px;
    top: 250px;
}

.paths-vertical__top-left{
    position: absolute;
    width: 60px;
    height: 300px;
    top: 0;
    left:250px;

}

.holding-areas__top-right{
    position: absolute;
    bottom: 550px;
    top: 0;
    left: 550px;
    background-color: #ffe277;
}

.paths-horizontal__top-right{
    position: absolute;
    width: 300px;
    height: 60px;
    top: 250px;
    left: 500px;
}

.paths-vertical__top-right{
    position: absolute;
    width: 60px;
    height: 300px;
    top: 0;
    left:500px;
}

.holding-areas__bottom-right{
    position: absolute;
    bottom: 0;
    top: 550px;
    left: 550px;
    background-color: #035aa6;
}

.paths-horizontal__bottom-right{
    position: absolute;
    width: 400px;
    height: 60px;
    top: 500px;
    left: 500px;
    /* border:1px solid green; */
}

.paths-vertical__bottom-right{
    position: absolute;
    width: 60px;
    height: 300px;
    top: 550px;
    left:500px;
    bottom: 0;
}

.holding-areas__bottom-left{
    position: absolute;
    bottom: 0;
    top: 550px;
    right: 550px;
    background-color: #f40552;
}

.paths-horizontal__bottom-left{
    position: absolute;
    width: 400px;
    height: 60px;
    top: 500px;
    right: 400px;
    /* border:1px solid green; */
}

.paths-vertical__bottom-left{
    position: absolute;
    width: 60px;
    height: 300px;
    top: 550px;
    left:250px;
    bottom: 0;
}

.tiles{
    width: 50px;
    height: 50px;
    border: 1px solid #f0f0f0;
    float: left;
}

.player-dot-holder{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 40px;
    left:40px;
    /* border: 1px solid red; */
}

.player-dot{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    float:left;
    margin: 10px;
    box-sizing: border-box;
}

.avatar{
    width: 50px;
    height: 50px;
    margin: auto;
}
.avatar > img{
    width: 100%;
    height: 100%;    
}
/* .player-holder-top-left{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 40px;
    left: 40px;
    background-color: white;
}

.player-holder-top-right{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 40px;
    right: 40px;
    background-color: white;
}

.player-holder-bottom-left{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 40px;
    left: 40px;
    background-color: white;
}

.player-holder-bottom-right{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    background-color: white;
} */

.heaven{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #f0f0f0;
    top: 300px;
    left: 300px;
}

.strip-0__left{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
}
.strip-1__left{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    left: 50px;
}
.strip-2__left{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    left: 100px;
}
.strip-3__left{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    left: 150px;
}
.strip-4__left{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    left: 200px;
}
.strip-5__left{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    left: 250px;
}

.strip-0__right{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    right: 0;
}
.strip-1__right{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    right: 50px;
}
.strip-2__right{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    right: 100px;
}
.strip-3__right{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    right: 150px;
}
.strip-4__right{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    right: 200px;
}
.strip-5__right{
    position: absolute;
    height: 200px;
    width: 50px;
    border: 1px solid #f0f0f0;
    top: 300px;
    right: 250px;
}

.strip-0__top{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    top: 0;
    right: 300px;
}
.strip-1__top{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    top: 50px;
    right: 300px;
}
.strip-2__top{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    top: 100px;
    right: 300px;
}
.strip-3__top{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    top: 150px;
    right: 300px;
}
.strip-4__top{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    top: 200px;
    right: 300px;
}
.strip-5__top{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    top: 250px;
    right: 300px;
}

.strip-0__bottom{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    bottom: 0;
    right: 300px;
}
.strip-1__bottom{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    bottom: 50px;
    right: 300px;
}
.strip-2__bottom{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    bottom: 100px;
    right: 300px;
}
.strip-3__bottom{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    bottom: 150px;
    right: 300px;
}
.strip-4__bottom{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    bottom: 200px;
    right: 300px;
}
.strip-5__bottom{
    position: absolute;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    bottom: 250px;
    right: 300px;
}





